.sk {
    position: absolute;
    top: 40px;
    left: 186px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
    padding: 0 28px;
    line-height: 45px;
    font-size: 16px;
    color: #000;
}

.sk_list ul li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.sk_con {
    float: left;
    margin-left: 55px;
}

.sk_con ul li {
    float: left;
    line-height: 45px;
    padding-right: 43px;
}

.sk_con ul li a {
    display: block;
    font-size: 14px;
}

.sk_con ul li:last-child a::after {
    font-family: 'icomoon';
    content: '\e90d';
}

.sk_bd ul li {
    float: left;
    width: 290px;
    height: 460px;
    margin-right: 13px;
    border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid red;
}